<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">X</ion-button>
    </ion-buttons>
    <ion-title>Completar Compra {{ pagoTipo }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-list *ngIf="pagoTipo == null">
    <ion-item button (click)="cambiarTipo('saldo')">
      <ion-label>
        Pagar con saldo
      </ion-label>
    </ion-item>

    <ion-item button (click)="cambiarTipo('tarjeta')">
      <ion-label>
        Pagar con Tarjeta
      </ion-label>
    </ion-item>

    <ion-item button (click)="cambiarTipo('efectivo')">
      <ion-label>
        Pagar en efectivo
      </ion-label>
    </ion-item>
  </ion-list>

  <div *ngIf="pagoTipo == 'saldo'" class="text-center">
    <ion-button color="primary">Confirmar compra</ion-button>
  </div>

  <form action="" *ngIf="pagoTipo == 'tarjeta'">
      <ion-item>
          <ion-label position="floating">Número de Tarjeta</ion-label>
          <ion-input></ion-input>
        </ion-item>
  </form>

  <div *ngIf="pagoTipo == 'efectivo'" class="text-center">
      <ion-button color="primary">Pago en efectivo</ion-button>
    </div>
</ion-content>
