<ion-header>
  <ion-toolbar color="primary">
  	<ion-buttons slot="start">
      <ion-menu-button menu="categorias"></ion-menu-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <form>
<ion-grid>
	<ion-row>
		<ion-col size="2">
			<ion-card >
				
					<img src="./assets/shapes.svg" alt="">
			
			</ion-card>
		</ion-col>
		<ion-col>
			<ion-card>
			  <ion-card-header color="primary">
			    <ion-card-title>Datos Personales</ion-card-title>
			  </ion-card-header>
			  
			  <ion-card-content>
			    
			    	<ion-grid>
			    		<ion-row>
			    			<ion-col>
			    				<ion-item>
								  <ion-label position="floating">Nombre</ion-label>
								  <ion-input type="text" value="{{ user.nombre }}"></ion-input>
								</ion-item>
			    			</ion-col>

			    			<ion-col>
			    				<ion-item>
								  <ion-label position="floating">Apellido</ion-label>
								  <ion-input type="text" value="{{ user.apellido }}"></ion-input>
								</ion-item>
			    			</ion-col>
			    		</ion-row>

			    		<ion-row>
			    			<ion-col>
				    			<ion-item>
								  <ion-label position="floating">DNI</ion-label>
								  <ion-input type="text" value="{{ user.dni }}"></ion-input>
								</ion-item>
				    		</ion-col>
				    		<ion-col>
				    			<ion-item>
								  <ion-label position="floating">Teléfono</ion-label>
								  <ion-input type="text" value="{{ user.tel }}"></ion-input>
								</ion-item>
				    		</ion-col>
			    		</ion-row>
			    	</ion-grid>
			    
			  </ion-card-content>
			</ion-card>
		</ion-col>
	</ion-row>
</ion-grid>


<ion-card>
	<ion-card-header color="primary">
    <ion-card-title>Datos de la cuenta</ion-card-title>
  </ion-card-header>

  <ion-card-content>
  	<ion-grid>

  		<ion-row>
  			<ion-col>
  				<ion-item>
				  <ion-label position="floating">Email</ion-label>
				  <ion-input type="email" readonly value="{{ user.email }}"></ion-input>
				</ion-item>
  			</ion-col>
  			<ion-col>
  				<ion-item>
				  <ion-label position="floating">Cambiar contraseña</ion-label>
				  <ion-input type="pessword"></ion-input>
				</ion-item>
  			</ion-col>
  		</ion-row>
  		
  	</ion-grid>
  </ion-card-content>
</ion-card>

    </form>
</ion-content>
