<ion-header>
  <ion-toolbar color="primary">
  	<ion-buttons slot="start">
      <ion-menu-button menu="categorias"></ion-menu-button>
    </ion-buttons>
    <ion-title>Carrito</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card *ngIf="carrito == null">
    <ion-card-header  *ngIf="carrito == null">
      <ion-card-title>El carrito esta vacío! <a [routerDirection]="'root'" [routerLink]="['/home']">ver ofertas</a></ion-card-title>
    </ion-card-header>
</ion-card>

<div *ngIf="carrito != null">
  <ion-card *ngFor="let item of carrito">
    <ion-card-header color="primary">
           <ion-card-title>{{item.oferta}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
        
        <ion-item lines="none">
          <div>
            <h6>cantidad: {{ item.cantidad }} precio: ${{ item.cantidad * item.reserva }}</h6>
          </div>
        </ion-item>

    </ion-card-content>
  </ion-card>
</div>

</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
   <ion-buttons slot="end">
    		<ion-button color="primary" fill="solid" shape="round" (click)="eliminarCarrito()">Eliminar carrito</ion-button>
    		<ion-button color="success" fill="solid" shape="round">Completar compra ${{ total }}</ion-button>
    	</ion-buttons>
  </ion-toolbar>
</ion-footer>