<ion-header>
  <ion-toolbar color="primary">
  	<ion-buttons slot="start">
      <ion-menu-button menu="categorias"></ion-menu-button>
    </ion-buttons>
    <ion-title>Carrito</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card *ngIf="carrito == null">
    <ion-card-header  *ngIf="carrito == null">
      <ion-card-title>El carrito esta vacío! <a [routerDirection]="'root'" [routerLink]="['/home']">ver ofertas</a></ion-card-title>
    </ion-card-header>
</ion-card>

<div *ngIf="carrito != null">

  <ion-item>
    <ion-button slot="end" [routerDirection]="'root'" [routerLink]="['/home']" color="primary">Seguir comprando</ion-button>
  </ion-item>

  <ion-card *ngFor="let item of carrito">
      <ion-item lines="none">
        <ion-grid>
          <ion-row>
            <ion-col size="2">
              <img src="{{ item.fotos }}" alt="">
            </ion-col>
            <ion-col>
              <ion-text color="primary">
                {{item.oferta}}
              </ion-text>
            </ion-col>
            <ion-col size="2">
              <ion-text>
                Cantidad: {{ item.cantidad }}
              </ion-text>
            </ion-col>
            <ion-col size="2">
              <ion-text>
                Precio: ${{ item.cantidad * item.reserva }}
              </ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
  </ion-card>
  
</div>

</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
   <ion-buttons slot="end">
    		<ion-button color="primary" fill="solid" shape="round" (click)="eliminarCarrito()">Eliminar carrito</ion-button>
    		<ion-button color="success" fill="solid" shape="round">Completar compra ${{ total }}</ion-button>
    	</ion-buttons>
  </ion-toolbar>
</ion-footer>