<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Iniciar Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

	<ion-card class="loginCard">
      <img src="./assets/shapes.svg" alt="" />
      <ion-card-header>
        <ion-card-title>Ingrese sus datos</ion-card-title>
      </ion-card-header>
      <ion-card-content>
    
        	<ion-item>
			  <ion-label position="floating">Email</ion-label>
			  <ion-input type="email"></ion-input>
			</ion-item>

			<ion-item>
			  <ion-label position="floating">Contraseña</ion-label>
			  <ion-input type="password"></ion-input>
			</ion-item>
       
      </ion-card-content>
    </ion-card>

</ion-content>
