<ion-header>
  <ion-toolbar color="primary">
  	 <ion-buttons slot="start">
      <ion-menu-button menu="categorias"></ion-menu-button>
    </ion-buttons>
    <ion-title>Cupones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-card *ngIf="cupones == null">
  	<ion-card-header  *ngIf="cupones == null">
      <ion-card-title>aun no tienes cupones! adquierelos al mejor precio <a [routerDirection]="'root'" [routerLink]="['/home']">ver ofertas</a></ion-card-title>
    </ion-card-header>
</ion-card>

<div *ngIf="cupones != null">
	<ion-grid>
	<ion-row>
		<ion-col size="12" size-md="6" size-lg="4" *ngFor="let item of cupones">
			<ion-card>
				<img src="{{ item.fotos }}" alt="">
				<ion-card-header>
				   <ion-text color="primary">{{item.titulo}}</ion-text>
				</ion-card-header>
			  <ion-card-content>
			      <ion-item lines="none">
			        <div>
			        	<ion-item>
			        		<ion-text>Código</ion-text>
			        		<ion-text>{{ item.codigo }}</ion-text>
			        	</ion-item>

			        	<ion-item>
			        		<ion-text>Pago restante en el comercio</ion-text>
			        		<ion-text></ion-text>
			        	</ion-item>

			        	<ion-item>
			        		<ion-text>Válido hasta</ion-text>
			        		<ion-text></ion-text>
			        	</ion-item>

			        	<ion-item>
			        		<ion-text>Reservado el día</ion-text>
			        		<ion-text></ion-text>
			        	</ion-item>
			          
			          <h6 color="primary">precio: ${{ item.precio }}</h6>
			        </div>
			      </ion-item>
			  </ion-card-content>
			</ion-card>
		</ion-col>
	</ion-row>
	</ion-grid>
	
</div>

</ion-content>
