<ion-header>
  <ion-toolbar color="primary">
  	 <ion-buttons slot="start">
      <ion-menu-button menu="categorias"></ion-menu-button>
    </ion-buttons>
    <ion-title>Oferta {{oferta.titulo}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="img-card">
	<img src="./assets/shapes.svg" alt=""  />
	<div class="divisor"></div>
</div>
<ion-card>
  <ion-card-header>
    <ion-card-subtitle>{{ oferta.detalle }}</ion-card-subtitle>
    <ion-card-title>{{ oferta.titulo }}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <div class="caracteristicas" [innerHTML]="oferta.caracteristicas"></div>
  </ion-card-content>
</ion-card>

</ion-content>

<ion-footer>
	<ion-toolbar color="primary">
     
    	<ion-buttons slot="end">
        <ion-button color="tertiary" fill="solid" shape="round" (click)="disminuirCantidad()">-</ion-button>
        <ion-button color="tertiary" fill="solid" shape="round">Cantidad: {{ cantidad }}</ion-button>
        <ion-button color="tertiary" fill="solid" shape="round" (click)="aumentarCantidad()">+</ion-button>
    		<ion-button color="tertiary" fill="solid" shape="round" (click)="agregarCarrito()">Reservar ${{ oferta.rprecio * cantidad }}</ion-button>
    	</ion-buttons>
  	</ion-toolbar>
</ion-footer>
