<ion-header class="headerFixed">
  <ion-toolbar class="headerFixed">
    <ion-buttons slot="start">
      <ion-menu-button menu="categorias"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">

  <div class="imagenPrincipal header ion-no-padding no-padding" style="background: url( './assets/img/banner.jpg' ) no-repeat center center / cover;">
    <div class="pantalla">
      <img src="./assets/img/logo.png" alt="" class="logo">
    </div>
  </div>
  
  <ion-toolbar color="primary">

    <ion-segment>
  <ion-segment-button value="destacados" (click)="cambiarCategoria('destacados')">
    <ion-label>Destacados</ion-label>
  </ion-segment-button>
  <ion-segment-button value="nuevas" (click)="cambiarCategoria('nuevos')">
    <ion-label>Nuevos</ion-label>
  </ion-segment-button>
  <ion-segment-button value="vendidas" (click)="cambiarCategoria('masvendidos')">
    <ion-label>Más vendidas</ion-label>
  </ion-segment-button>
</ion-segment>

  </ion-toolbar>

  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" size-md="6" size-lg="4" *ngFor="let oferta of ofertas">
        <ion-card class="welcome-card" [routerDirection]="" [routerLink]="['/oferta' , oferta.id]">
          <img src="{{ oferta.fotos }}" alt="" />
          <ion-card-header>
            <ion-card-subtitle>${{ oferta.fprecio }}</ion-card-subtitle>
            <ion-card-title color="primary">{{ oferta.empresaNombre }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>{{ oferta.titulo }}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
    
   
</ion-content>
