<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" size-md="6" *ngFor="let oferta of ofertas">
        <ion-card class="welcome-card">
          <img src="/assets/shapes.svg" alt="" />
          <ion-card-header>
            <ion-card-subtitle>${{ oferta.fprecio }}</ion-card-subtitle>
            <ion-card-title>{{ oferta.titulo }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>{{ oferta.detalle }}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
    
   
</ion-content>
